@inject NavigationManager NavManager
@rendermode InteractiveServer

@inject JournalService JournalService

<div class="calendar">
    <div class="calendar__header">
        <h1 class="calendar__header-title">
            @_calendarStartDate.ToString(format: "MMMM yyyy")
        </h1>
    </div>

    <div class="calendar__contents">
        <div class="calendar__contents--day-of-week">
            @foreach (string day in _dayOfWeek)
            {
                <div class="calendar__day-name">@day</div>
            }
        </div>

        <div class="calendar__contents--grid">
            @for (int i = 0; i < _calendarCells.Count; i++)
            {
                CalendarCell? day = _calendarCells[i];
                string dayClass = day != null ? "day--current" : "day--padding";
                int dayValue = day != null && day.Date != null ? day.Date.Value.Day : 0;

                <div @onclick=@(e => DirectToJournal(day)) class="day @dayClass" value="@(dayValue > 0 ? dayValue : "")">
                    @if (day != null && day.Date != null)
                    {
                        <p class="day-desc">@day.Date.Value.Day</p>
                        @if (_existingJournalEntries.TryGetValue(day.Date.Value.Date, out JournalEntry? entry)) {
                            <p>@entry.Title</p>
                        }
                    }
                </div>
            }
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> _authState { get; set; } = default!;
    private ClaimsPrincipal? _user;
    private string? _userId;

    private int _year;
    private int _month;
    private Calendar _calendar;
    private DateTime _calendarStartDate;
    private Dictionary<DateTime, JournalEntry> _existingJournalEntries = new();
    private List<CalendarCell> _calendarCells => GenerateCalendarCells();
    private List<string> _dayOfWeek = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState? authState = await _authState;
        _user = authState.User;
        _userId = _user.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;

        // get param and parse to int and create a datetime obj
        Uri? uri = NavManager.ToAbsoluteUri(NavManager.Uri);

        var query = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);

        if ((query.TryGetValue("year", out var yearValue)) && query.TryGetValue("month", out var monthValue))
        {
            bool yearParseResult = int.TryParse(yearValue, out _year);
            bool monthParseResult = int.TryParse(monthValue, out _month);

            if (monthParseResult && yearParseResult)
            {
                _calendarStartDate = new DateTime(year: _year, month: _month, day: 1);
                return;
            }
        }

        _calendarStartDate = DateTime.Today;
        _calendar = new Calendar(_calendarStartDate);

        // get all entries for this month for the user 
        var _entryLookup = JournalService.GetMonthEntryInfoForUser(_userId!, _calendarStartDate);

        if (_entryLookup != null) {
            _existingJournalEntries = _entryLookup.ToLookup(e => e.Date.Date).ToDictionary(g => g.Key, g => g.First());
            @* .ToLookup() returns an ILookUp which has lists as values (which there is only 1 entry per day so we want dict) 
               We can go straight to .ToDictionary() without doing .ToLookUp() but we do this IN CASE we have more than 1 entry per day.
               This prevents program from crashing in that weird case. 
               The g => g.First() chooses the first entry in case there is more than one (which there shouldnt be anyways but safety is never bad)
            *@
        }
    }

    void DirectToJournal(CalendarCell? cell)
    {
        if (cell == null || cell.Date == null) return;

        DateTime date = (DateTime)cell.Date;
        string dateString = date.ToString("yyy-MM-dd");
        NavManager.NavigateTo($"/journal?date={dateString}");
    }


    List<CalendarCell> GenerateCalendarCells()
    {
        List<CalendarCell>? cells = new List<CalendarCell>();

        int firstDayIndex = (int)_calendarStartDate.DayOfWeek;
        // didn't know you can do that but converts day of week to a integer value

        for (int i = 0; i < firstDayIndex - 1; i++)
        {
            cells.Add(item: new CalendarCell { Date = null, IsCurrentMonth = false });
        }

        int daysInMonth = DateTime.DaysInMonth(_calendarStartDate.Year, _calendarStartDate.Month);
        for (int i = 1; i <= daysInMonth; i++)
        {
            cells.Add(item: new CalendarCell
            {
                Date = new DateTime(_calendarStartDate.Year, _calendarStartDate.Month, i),
                IsCurrentMonth = true
            });
        }

        while (cells.Count < 42)
        {
            cells.Add(item: new CalendarCell { Date = null, IsCurrentMonth = false });
        }

        return cells;
    }
}